global:
  scrape_interval: 15s 

scrape_configs:

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_backend'
    static_configs:

      - targets: ['deploy-server-env:5000'] 
    metrics_path: '/metrics'